.dropdown {
  position: relative;
  width: var(--text-width-lg);
}
.dropdown_btn {
  position: relative;
  display: block;
  width: var(--content-size-max);
  text-align: left;
  background-color: var(--bg-color-white);
  border: var(--text-width-xxxxs) solid var(--color-gray);
  padding: var(--spacing-xs);
  border-radius: var(--text-width-xxxx);
  color: var(--font-color-black);
  cursor: pointer;
}
.dropdown_btn:focus {
  box-shadow: var(--offset-sm) var(--offset-sm) var(--offset-sm) var(--color-gray);
}
.arrow::after {
  content: '';
  position: absolute;
  top: 35%;
  right: 1.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5rem 1rem 0.5rem;
  border-color: transparent transparent var(--bg-color-black) transparent;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.up::after {
  transform: rotate(180deg);
}
.dropdown_list {
  display: none;
  position: absolute;
  width: var(--content-size-max);
  padding-top: var(--spacing-sm);
  z-index: 1;
}
.dropdown_list-visible {
  display: block;
}
.dropdown_item {
  padding: var(--spacing-xs);
  background-color: var(--bg-color-white);
  border: var(--text-width-xxxxs) solid;
  cursor: pointer;
  border-bottom: none;
}
.dropdown_item:last-child {
  border-bottom: var(--text-width-xxxxs) solid var(--bg-color-black);
  border-bottom-left-radius: var(--text-width-xxxs);
  border-bottom-right-radius: var(--text-width-xxxs);
}
.dropdown_input_hidden {
  display: none;
}
