.task {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  column-gap: 2rem;
}
@media (max-width: 600px) {
  .task {
    grid-template-columns: 1fr 10fr 1fr;
  }
}
@media (max-width: 450px) {
  .task {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
}
.task_priority {
  align-content: center;
  justify-self: start;
  font-size: var(--font-size-xs);
}
@media (max-width: 450px) {
  .task_priority {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
[data-priority='Низкий'] {
  color: red;
}
[data-priority='Высокий'] {
  color: green;
}
.task_text {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
@media (max-width: 450px) {
  .task_text {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.task_text textarea {
  resize: none;
  width: 100%;
  overflow: hidden;
}
.task_delete {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 450px) {
  .task_delete {
    justify-content: end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.task_delete img {
  width: 3rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .task_delete img {
    width: 1.5rem;
  }
}
